[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = ../../scrooloose/nerdtree.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = ../../tpope/vim-fugitive.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = ../../tpope/vim-pathogen.git
